/*
 * separator Rule:
 * Premade styles for the classic <hr> element. Simple!
 */

@import "sep-config";

%hr,
.hr {
	border: none;
	margin: 0 auto;
	height: $sep-thickness;
	width: 100%;
	background-color: $sep-background-color;
}

.hr--short {
	max-width: 20rem;
}
