@mixin fluid-type($min-font-size, $max-font-size) {
	$u1: unit($document-min-width);
	$u2: unit($document-max-width);
	$u3: unit($min-font-size);
	$u4: unit($max-font-size);

	@if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
		font-size: $min-font-size;
		@media screen and (min-width: $document-min-width) {
			font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$document-min-width}) / #{strip-unit($document-max-width - $document-min-width)}));
		}
		@media screen and (min-width: $document-max-width) {
			font-size: $max-font-size;
		}
	}
}
